
/*Popup: container*/
/*grid-1(2칸)*/
#p_grid{margin:10px; line-height: 33px; font-size: 12px; border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; border-right: 1px solid #ccc; border-top: 1px solid #404245; }
#p_block{height: 33px; width: 100%;} 
.p_title{width: 150px; background: #f4f5f7; height: 33px; float: left; padding-left: 10px;}
.p_border{border-top: 1px solid #ccc;}
.p_content{height: 33px; float: left;}
.p_long_input{width: 308px; border: 1px solid #ccc; margin-left: 10px;}	
.p_input{border: 1px solid #ccc; height: 20px; width:150px;  margin-left: 10px;}
.p_check{margin-left: 10px;}
.p_select{border: 1px solid #ccc; width:150px; height: 20px; margin-left: 10px;}	

/*grid-2(4칸)*/

.p_half{width: 50%; float: left; }

/*하단 높이값*/
#p_container{margin-bottom: 100px;}


/*Popup: container*/
/*grid-1(2칸)*/
#p_grid{margin:10px; line-height: 33px; font-size: 12px; border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; border-right: 1px solid #ccc; border-top: 1px solid #404245; }
#p_block{height: 33px; width: 100%;} 
.p_title{width: 150px; background: #f4f5f7; height: 33px; float: left; padding-left: 10px;}
.p_border{border-top: 1px solid #ccc;}
.p_content{height: 33px; float: left;}
.p_input{border: 1px solid #ccc; height: 20px; width:150px;  margin-left: 10px;}
.p_check{margin-left: 10px;}
.p_select{border: 1px solid #ccc; width:150px; height: 20px; margin-left: 10px;}	

.pop_border{
	border:1px solid #ccc;
	width:100%;
	height:30px;
	margin:2px;
}
#p_ckIsMain,#p_ckPerfPoll,#p_ckArpPoll,#p_ckCfgPoll{
	line-height: 20px;
	padding-left: 10px;
}

#p_ddbGrp{
	width:99%;
	margin:2px;
}
#p_ckIcmp,#p_ckSnmp,#p_ckTelnet{
	line-height: 24px;
	padding-left: 10px;
}
/* .jqx-checkbox-default{ */
/* 	margin: 4px 6px 5px 3px; */
/* } */

.pop_inputWrite{
	border:1px solid #ccc;	
	height: 20px;
	color: #444;
	font-size: 12px;
	width:95%;
	margin-left:5px;
}
.pop_textarea{
	border:1px solid #ccc;	
	height: 50px;
	color: #444;
	font-size: 12px;
	width:98%;
	margin: 2px 5px;
}
.pop_grid{height:27px;}

.pop_gridSub{	
	background: #f3f3f3;	
	text-align: center;
	width:100px;
}
/* .pop_input1{ 
	border:none;
	margin-left:5px;
	width:95%;
    height: 24px;
	color: #444;
	font-size: 12px;
} */
.pop_combo1{ 
	margin-left:5px;
	width:95%;
    height: 24px;
	color: #444;
	font-size: 12px;
}/* 
.pop_input2{	
	width: 100%;
	height:24px;
	vertical-align: middle;
	margin: 2px; 
} */
.pop_borderline > td{
	border-bottom: 1px solid #d6d6d6;
}
.borderLine{border-bottom: 1px solid #d6d6d6;}
/* .pop_gridTitle {
	font-size: 14px;
	line-height: 27px;
	font-weight: bold;
	font-family: Malgun Gothic,"���� ���";;
}
 */
 
/* 수정되는 css */
/*Popup: header*/
.p_top_title_bg {width: 100%; height: 35px; background: #4e505c; position: relative;}
.p_top_title{width: 100%; height: 35px; background: url('../img/popup/p_burette.png') no-repeat 10px;}
h1 {
	position: absolute;
	color: #ffffff;
	font-size: 16px;
	left: 28px;
	top:-5px;
}

.p_sub_title {
	height: 35px;
	background: #e6e6e6;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
}

.jqx-window-close-button-background > div{position: absolute;
	width: 35px;
	height: 35px;
	right: -5px;
	top: 0;
	background: url('../img/popup/p_close.png') no-repeat;}
.p_close {
	position: absolute;
	width: 35px;
	height: 35px;
	right: 0;
	top: 0;
	background: url('../img/popup/p_close.png') no-repeat;
}

.p_close:hover {
	cursor: pointer
}

h2 {
	color: #414141;
	font-size: 13px;
	position: absolute;
	top: 8px;
	left: 23px;
}


/***** 팝업 그리드 ******/

.tableBorder{font-size: 12px; margin:  5px 5px 0px 5px;}
.tableBorder2>table{border: 1px solid #989898; width: 680px; margin-left: 5px;}
.tableBorder>table{border: 1px solid #989898; width: 100%;}
.pop_grid>td{border-top: 1px solid #d6d6d6;  font-weight: bold; }
.pop_grid:first-child>td{border-top: none;  font-weight: bold;}
.pop_grid:last-child>td{border-bottom: none;}
.pop_gridSub{background: #f3f3f3; text-align: center; width: 110px;}
.pop_gridSub_right{	
	text-align: center;
	border-right: 1px solid #d6d6d6;
	border-left:1px solid #d6d6d6;
	background: #f7f7f7;
}
.pop_gridSub_center{text-align: center;}

.p_contentsP5{margin: 5px;}
.p_contentsP10{margin: 10px; }
.p_contentsM10{margin-top: 10px;}
/* .scontent{position: relative;} */
.contentsP10 {left: 10px; top: 10px; right: 10px; bottom: 10px; position: absolute;}
.treeWidth{padding:5px;}

/* 팝업 인풋창 */
.pop_gridTitle{font-weight: bold; margin-top: 10px; padding-bottom: 2px; position: relative; margin-right: 10px; margin-left: 5px;}
.pop_input{border: 1px solid #cccccc; width: 93%; margin-left:3px; } 
.pop_input1{border: 1px solid #cccccc; width: 96%; margin-left:3px; } 
.pop_input2{width:98%; border: 1px solid #cccccc; margin-left:3px; margin-top: 3px; margin-bottom: 3px;}
.pop_input_text{border: 1px solid #cccccc; width: 97%;  margin-left:3px; height: 44px; margin-top: 3px; margin-bottom: 3px; resize:none}
.pop_input_text2{border: 1px solid #cccccc; width: 98%; margin-left:3px; height: 44px; margin-top: 3px; margin-bottom: 3px; resize:none}
.pop_input_text3{border: 1px solid #cccccc; width: 96%; margin-top: 3px; margin-bottom: 3px; resize:none; margin-left:3px; }
.inputNone{border: none; margin-left: 5px; margin-right: 5px;  width: 90%;}


/* 라벨뷰렛 */
.bullet{background: url('../img/p_search.png') no-repeat 0 8px; float: left; padding-left: 13px; padding-top: 5px;}

/* 체크박스 */.
.checkBox {vertical-align: -3px;}

